.MainContainer {
  height: 700px;
  background-image: url("../assets/pictures/menu.jpg");
  background-size: cover;
  margin: -8px;
}

.MenuIconsContainer {
  display: flex;
  justify-content: space-between;
  padding: 52px 100px;
}

.PhoneAndBurgerContainer {
  display: flex;
  gap: 25px;
}

.MenuFancyText {
  font-weight: 800;
}

.menuIconAndTextContainer {
  position: absolute;
  top: 452px;
  left: 120px;
}

.phoneNumberContainer {
  display: flex;
  align-items: center;
}

.phoneNumber {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  transform: translateY(0px);
  transition: 0.3s;
  opacity: 100;
}

.menuLogo{
  z-index: 1000;
}

.menuPhone{
  z-index: 1000;
}

.menuBurger{
  z-index: 1000;
}

.phoneNumberNotVisible {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.3s;
}

.SideMenu {
  position: absolute;
  top: 121px;
  right: 20px;
  width: 17%;
  height: 55%;
  transform: translateY(100%);
  z-index: -500;
  transition: 0.7s;
  opacity: 0;
  margin: -10px;
}

.SideMenuVisible {
  position: absolute;
  top: 121px;
  right: 20px;
  width: 17%;
  height: 55%;
  transform: translateX(0);
  z-index: 500;
  transition: 0.7s;
  opacity: 100;
  margin: -10px;
}

.menuParagraph {
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: left;
}

.menuParagraph:hover {
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: left;
  text-decoration: underline;
}

.menuParagraph2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.menuParagraph3 {
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: left;
  text-decoration: underline;
}

.menuLink {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 376px) {
  .menuLogo {
    position: relative;
    width: 130px;
    height: 16px;
    margin: 10px;
    z-index: 1000;
  }
  .MenuIconsContainer {
    display: flex;
    justify-content: space-between;
    padding: 60px 25px;
  }
  .menuPhone {
    width: 24px;
    height: 24px;
    z-index: 10;
  }
  .menuBurger {
    position: relative;
    width: 28px;
    height: 28px;
    margin: 5px;
    z-index: 12345;
  }
  .PhoneAndBurgerContainer {
    margin: -1px;
  }
  .MainContainer {
    background-image: url("../assets/pictures/PhoneBackgroundImage.jpg");
    background-size: cover;
  }
  .menuIconAndTextContainer {
    position: absolute;
    top: 452px;
    left: 20px;
  }
  .SideMenu {
    position: absolute;
    top: 0px;
    padding-top: 100px;
    width: 100%;
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    z-index: -500;
    transition: 0.7s;
    opacity: 0;
  }
  .SideMenuVisible {
    position: absolute;
    top: 0px;
    padding-top: 100px;
    width: 100%;
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 10px;
    transform: translateX(0);
    z-index: 500;
    transition: 0.7s;
    background-color: #e8eff9;
  }
}
