.headerItalic{
    font-style: italic;
    font-weight: 800;
    font-size: 48px;
    letter-spacing: -1.5px;
    line-height: 48px;
}
body{
    font-family: 'Hind Siliguri', sans-serif;
font-family: 'Inter', sans-serif;
}